{% extends "base_menu.html" %}
{% load humanize %}
{% block content %}

<h1>Пользователь  </h1>
</p>
<p>Список объектов пользователя {{user.email}} </p>
{%for obj in objects%}
 <li> 
  <a href="{% url 'data:obj_detail' user_pk=user.id pk=obj.id %} "> 
  #{{obj.id}}-{{obj}} 
  </a>
  <span style="float: right;">
   ({{ obj.updated_at|naturaltime }}) 
    <a href="{% url 'data:obj_update' user.id obj.id%}"><i class="fa fa-pencil"></i></a>
    <a href="{% url 'data:obj_delete' user.id  obj.id%}"><i class="fa fa-trash"></i></a>  
  
  </span> 
   </li>
{%endfor%}
{% comment %} {% if user_list %}
<ul>
  {% for user in user_list%}
    <li>
      <a href="{% url 'data:user_detail' user.id %}"> 
          {{user.name}} {{user.last_name}}  </a> 
          <a href="{% url 'data:user_update' user.id %}"><i class="fa fa-pencil"></i></a>
          <a href="{% url 'data:user_delete' user.id %}"><i class="fa fa-trash"></i></a>  

    </li>
{% endfor %}
</ul>
{% else %}
  <p>There are no Users in the database</p>
  {% comment %} <a href {% url 'data:user_create'%}" {% endcomment %}
  
  {% comment %} {% endif %} {% endcomment %} 
  <a href="{% url 'data:obj_create' user_pk=user.id %}">Добавить объект</a>

{% comment %} <a href="{% url 'fm:add_file' %}">Добавить file</a>  {% endcomment %}
{% comment %} {% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'data:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'data:all' %}">Login</a> {% endcomment %}
{% comment %} {% endif %}  {% endcomment %}
{% endblock %}
